/* MYAPAGE INDEX */
.mypage__list ul{
  display: flex;
  padding: 15px 0 15px;
  align-items: center;
}
.mypage__list ul span {
  font-size: 13px;
  font-weight: 700;
  display: inline-block;
  width: 100px;
  
}
.mypage__list ul li{
  margin-right: 50px;
}
/* MYPAGE INDEX BOARD RIGHT */
.mypage .board-right {
  height: auto;
}
.mypage .board-right ul li {
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 20px;
}
.mypage .board-right ul li:first-child {
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid #9c9898;
}
.mypage .board-right ul li:nth-child(2) {
  margin-bottom: 17px;
}
.mypage .board-right ul li a {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}
/* MYPAGE ORDERINFO */
.orderinfo {
  width: 900px;  
}
.orderinfo table th {
  text-align: center;
}
.orderinfo table tbody tr td {
  text-align: center;
  vertical-align: middle;
}
.orderinfo table tbody tr td img {
  width: 75px;
  height: 75px;
}
.orderinfo nav {
  text-align: center;
}
.orderinfo nav ul li a{
  color: #000000;
}


/* REVIEW */
.review--write {
  width: 800px;
}
.review--write .review--title {
  font-size: 16px;
  font-weight: 600;
  width: 130px;
}
.review--write .review--write__title{
  border-top: 1px solid #000;
  border-bottom: 1px solid rgba(122, 122, 122, 0.3);
  padding: 15px 0px;
  width: 100%;
}
.review--write button {
  background: transparent;
  padding: 0px;
}
.review--write button:focus {
  outline: none;
}

.review--write .review--write__product {
  display: flex;
  border-bottom: 1px solid #000;
  padding: 15px 0px;
  align-items: center;
  height: 140px;
}
.review--write .review--write__product .review--write__product__img {
  width: 100px;
  height: 100px;
}
.review--write .review--write__product .review--write__product__detail--wrap {
  display: block;
}
.review--write .review--write__product .review--write__product__detail--name {
  font-size: 16px;
  font-weight: 600;
}
.review--write .review--write__product .review--write__product__detail--brand {
  padding: 5px 0px;
}
.review--write .review--write__product .review--write__product__detail--date {
  margin-top: 20px;
  font-size: 12px;
  color: #878787;
}

.review--write .review--table {
  display: table;
  padding: 15px 0px;
  width: 100%;
  border-bottom: 1px solid rgba(122, 122, 122, 0.3);
}
.review--write .review--table-cell {
  display: table-cell;
}
.review--write .review--write__startpoint .review--write__startpoint__content button {
  border: none;
}
.review--write .review--write__startpoint .review--write__startpoint__content button span {
  color: #CECECE;
}
.review--write .review--write__startpoint .review--write__startpoint__content button span.staroff {
  color: #CECECE;
}
.review--write .review--write__startpoint .review--write__startpoint__content button span.staron {
  color: yellow;
}

.review--write .review--write__text .review--write__text__title {
  padding: 0px;
  vertical-align: top;
}
.review--write .review--write__text .review--write__text__content {
  padding-left: 10px;
  border: 1px solid #ddd;
}
.review--write .review--write__text .review--write__text__content textarea {
  width: 100%;
  height: 146px;
  padding: 10px 0px;
  margin-bottom: 20px;
  border: none;
  color: #111;
  outline: none;
  resize: none;
}

.review--write .review--write__input-img .review--write__input-img__content input[type=file] {
  width: 0;
  height: 0;
}
.review--write .review--write__input-img .review--write__input-img__content label {
  margin: 0px;
}
#imgPreview li {
  display: flex;
  list-style: none;
  margin: 10px  0px;
  width: 150px;
  height: 100px;
}
#imgPreview li:nth-child() {
  margin: 0px;
}
#imgPreview li img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}




