.w-checkbox {
  display: block;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
}
/* COMMON */
a {
  text-decoration: none !important;
  color: #000;
}
a:hover {
  text-decoration: underline !important;
  color: #000;
}
a:active {
  text-decoration: none !important;
  color: #000;
}
a:visited {
  text-decoration: none !important;
  color: #000;
}

.inner {
  margin: 10px auto;
}
/* COMMON END */


.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-left: 15px;
}
.list li:nth-child(1){
  margin-right: 10px;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}
.foot-info {
  width: 200px;
  height: 150px;
  padding-right: 30px;
  background-color: green;
}

.contents {
  max-width: 1300px;
  margin: 130px auto 0;
  background-color: #fff;
  font-size: 13px;
  font-family: 'Nanum Gothic', sans-serif;
}
.location {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  /* text-align: left; */
}
.location-text {
  width: auto;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.signup__ulist {
  display: block;
  padding-left: 0px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  list-style-type: none;
}
.signup__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-address {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 150px;
  margin-top: 10px;
  padding-right: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.content-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /* border-bottom: 1px solid #000; */
}
.signup__list input[type="checkbox"] {
  margin: 0;
  vertical-align: middle;
}

.form-text {
  width: 150px;
}
.text-field {
  display: block;
  width: 150px;
  height: 30px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-size: 12px;
}

.wrap-submit {
  width: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
}

/* BOARD COMMON*/
.board-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: center;
  -ms-flex-pack: justify;
  justify-content: center;
}

.board-left {
  width: 800px;
}
.board-left__head-list {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 2fr 5fr 1fr 1fr 1fr;
  grid-template-columns: 2fr 5fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: center;
  list-style-type: none;
  border-bottom: 1px solid #a3a1a1;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.board-left__list {
  display: -ms-grid;
  display: grid;
  padding: 0px;
  margin-bottom: 10px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 2fr 5fr 1fr 1fr 1fr;
  grid-template-columns: 2fr 5fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  align-items: center;
  text-align: center;
  list-style-type: none;
}
.board-left__list a {
  display: block;
  color: #000;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 5px;
}
.board-left__head-text {
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  margin: 10px 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid #a3a1a1;
}

.board-right {
  width: 500px;
  height: 240px;
  margin-left: 100px;
  border-radius: 1px;
  background-color: #eee;
}
.board-right .inner{
  padding: 10px 20px;
  margin: 0%;
}
.board-right h4 {
  border-bottom: 1px solid #a3a1a1;
  padding-bottom: 6px;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 22px;
  margin: 0;
  margin-bottom: 10px;
}
.board-right ul li {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 18px;
  margin-bottom: 15px;
  box-sizing: border-box;
}
.board-right ul li span {
  display: inline-block;
  width: 100px;
  color: #000000;
}
.board-right ul li strong {
  font-size: 18px;
}
.board-right .btn-normal {
  margin-top: 10px;
  margin-right: 10px;
}

.textarea {
  width: 380px;
  height: 40px;
  min-height: 40px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
/* BOARD COMMON END */

/* BOARD ORDER */
.board-left__order-info li {
  display: flex;
  margin-bottom: 10px;
}
.order-info__head{
  margin-bottom: 2px;
}
.order-info ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/* DETAILS CSS */
.deatails-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}
.details__product--wrap {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.details-info {
  min-width: 400px;
}
.details-info-wrap {
  padding: 10px 1px;
  border-bottom: 1px solid #9c9898;
}
.details-info-wrap__submit {
  width: auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: left;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.img-detail {
  max-width: 600px;
  min-width: 400px;
  max-height: 600px;
  min-height: 400px;
  object-fit: cover;
}

.link-category {
  color: #7a7777;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
}

.detail-title {
  color: #000;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.detail-price__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 12px;
  list-style-type: none;
}

.details__review--wrap {
  width: 100%;
  margin-top: 10px;
  
}
.details__review--wrap article {
  padding: 20px 0px;
  border-bottom: 1px solid #a3a1a1;
}
.details__review--wrap article .details__review__userinfo {
  margin-bottom: 5px;
}
.details__review--wrap article .details__review__userinfo .details__review__userinfo__nickname {
  margin-bottom: 3px;
}
.details__review--wrap article .details__review__userinfo .details__review__userinfo__nickname span{
  font-size: 14px;
  font-weight: 500;
}
.details__review--wrap article .details__review__userinfo .details__review__userinfo__info span{
  display: inline-block;
}
.details__review--wrap article .details__review__userinfo .details__review__userinfo__info:last-child {
  font-size: 10px;
}

.details__review--wrap article .details__review__delivery__info {
  margin-bottom: 5px;
}
.details__review--wrap article .details__review__delivery__info span {
  font-size: 12px;
  color: #7a7a7a;
}



.details__review--wrap article .details__review__product-img {
  display: flex;
}
.details__review--wrap article .details__review__product-img img {
  width: 100px;
  height: 100px;
}

.details__review--wrap article .details__review__text pre {
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  border: none;
  white-space: pre-line;
  line-height: 1;
  text-align: left;
}




.tabs {
  display: block;
  width: 100%;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tabs-menu {
  width: 500px;
}

.tabs-content {
  width: 400px;
}

.index-item {
  display: flex;
  width: auto;
  height: 1000px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.div-block-6 {
  width: 300px;
  height: 300px;
  margin-right: 10px;
  background-color: orange;
}

.slide {
  background-color: tomato;
  color: #000;
}

.item-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.item-list-arg {
  text-align: center;
  margin-right: 30px;
}

.item-list-arg-header {
  width: 150px;
  max-width: 150px;
  min-width: 40px;
}

.item-list-arg-text {
  width: 150px;
  max-width: 150px;
  min-width: 40px;
}

.image-3 {
  width: 150px;
  height: 150px;
  max-height: 150px;
  max-width: 150px;
  min-height: 40px;
  min-width: 40px;
}

.slide__img{
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1180px) {
  .user-menu {
    margin-top: 25px;
  }
}

/* MY PAGE*/
/* MY PAGE__LEFT BOARD */
.mypage__list ul{
  display: flex;
  padding: 15px 0 15px;
  align-items: center;
}
.mypage__list ul span {
  font-size: 13px;
  font-weight: 700;
  display: inline-block;
  width: 100px;
  
}
.mypage__list ul li{
  margin-right: 50px;
}
/* MY PAGE BOARD RIGHT */
.mypage .board-right {
  height: auto;
}
.mypage .board-right ul li {
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 20px;
}
.mypage .board-right ul li:first-child {
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid #9c9898;
}
.mypage .board-right ul li:nth-child(2) {
  margin-bottom: 17px;
}
.mypage .board-right ul li a {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}


.test-login {
    /* display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px; */
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test-login2 {
  margin-bottom: 10px;
}

