{% extends 'base.html' %}





{% block content %}
<div class="contents">
  <div class="location">
    <div class="location-text">장바구니</div>
  </div>

  <div class="board-wrap">

    <div class="board-left">
      <div class="inner">
        <ul role="list" class="board-left__head-list">
          <li>상품</li>
          <li>이름</li>
          <li>가격</li>
          <li>수량</li>
          <li>제거</li>
        </ul>
        {% for products in product_lis%}
        <input type="hidden" value={{products.documentId}} id="products_documentId">
        
        <ul role="list" class="board-left__list">
          <li>
            <img src="{{products.downloadurl}}" loading="lazy" width="100" height="80"
                  
                  sizes="(max-width: 479px) 25.296875px, 7vw" alt=""></li>
          <li>
            <a href="{% url 'detail' products.documentId %}">{{products.name}}</a>
            {{products.sizedic}}
          </li>
          <li>
            {{products.price}}원
          </li>
          <li>
            {{products.totalamount}}
          </li>
          <li>
            <a href="{% url 'cartdelete' products.documentId %}">
            <i class="fa fa-trash fa-2x" aria-hidden="true"  ></i>
            </a>

  
            {% comment %} <i class="fa fa-trash fa-2x" aria-hidden="true"></i> {% endcomment %}
          </li>
        </ul>
        {% endfor %}

      </div>
    </div>

    <div class="board-right">
      <div class="inner">
        <h4>SHOPPING SUMMRY</h4>

        <ul>
          <li>
            <span>상품 가격</span> <strong>{{total_price}}</strong>원
          </li>
          <li>
            <span>배송비</span> <strong>20</strong>원
          </li>
          <li>
            <span>총 합</span> <strong>{{total_price}}</strong>원
          </li>
        </ul>
           <span class="btn-normal" onclick="inisispay()">결제하기</span>
          <a href="{% url 'home' %}" class="btn-normal">취소하기</a>
      </div>
    </div>

  </div>
</div>
{% endblock content %}