{% extends 'base.html' %}
{% if messg != None%}
<script>
    alert("{{messg}}");
</script>
{% endif %}

{% block content %}
          <div class="contents">
        <form action="/inbody/insert/" method="POST" style="margin-top=100px">
            {% csrf_token %}
             <input type="hidden" id="uid" value={{request.session.uid}}><br><br>
            키:
            <input type="number" name="height" id="height"><br><br>
            몸무게:
            <input type="number" name="weight" id="weight"><br><br>
            골격근량:
            <input type="number" name="SkeletalMuscleMass" id="SkeletalMuscleMass"><br><br>
            체지방량:
            <input type="number" name="BodyFatMass"id="BodyFatMass"><br><br>
            체지방률:
            <input type="number" name="BodyFatPercentage" id="BodyFatPercentage"><br><br>
            <input type="submit" value="입력">
        </form>
        </div>
        
        
        
        <script>
        
        function retrieveInbody(uid){

        var docRef = db.collection("users").doc(uid);
        docRef.get().then(function(doc) {
        if (doc.exists) {
        console.log("Document data:", doc.data());

        var height =doc.data().height
        var weight= doc.data().weight
        var SkeletalMuscleMass= doc.data().SkeletalMuscleMass
        var BodyFatMass= doc.data().BodyFatMass
        var BodyFatPercentage= doc.data().BodyFatPercentage

        document.getElementById('height').value=height;
        document.getElementById('weight').value=weight;
        document.getElementById('SkeletalMuscleMass').value=SkeletalMuscleMass;
        document.getElementById('BodyFatMass').value=BodyFatMass;
        document.getElementById('BodyFatPercentage').value=BodyFatPercentage;

      
       


        } else {
        // doc.data() will be undefined in this case
        console.log("No such document!");
        }
        }).catch(function(error) {
        console.log("Error getting document:", error);
        });

        }
         retrieveInbody(recentUid); 
        </script>
{% endblock %}