{% extends 'base.html' %}

{% block content %}

<!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
  <!-- iamport.payment.js -->
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>

<div class="contents">

  <div class="location">
    <div class="location-text">주문하기</div>
  </div>

  <div class="w-form">
    <form id="order-form" name="order-form" data-name="Order Form">

      <div class="board-wrap">

        <div class="board-left">
          <div class="inner">
            <div class="head-text">상품 정보</div>
            <ul role="list" class="board-left__list">
              <li>
                <img src="{{products.downloadurl}}" loading="lazy" width="100" height="80"
                  sizes="(max-width: 479px) 11.953125px, (max-width: 767px) 4vw, 5vw" alt="item-img">
              </li>
              <li>
                <a href="#">{{products.name}}</a>
                 <input type="hidden" id="productname" name="productname" value="{{products.name}}">
                
                size:{{option}}
              </li>
              <li>
                {{products.fiexdPrice}}원
              </li>
              <li>
                {{total_amount}}개
              </li>
              <li>
                <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
              </li>
            </ul>
  
            <div class="head-text">배송 정보</div>            
            <ul role="list" class="board-left__order-info">
              <li>
                <div class="order-info__head">배송지 선택</div>
                <div class="radio-address">
                <label class="radio-button-field w-radio">
                <input type="radio" data-name="delivery" id="user" value="user" name="delivery" class="w-form-formradioinput radio-button-2 w-radio-input" checked="true" onclick="useradress()">
                <span for="user"class="radio-button-label-2 w-form-label">기존 배송지</span>
                </label>

                <label class="w-radio">
                <input type="radio" data-name="delivery" id="new" value="new" name="delivery" class="w-form-formradioinput radio-button-2 w-radio-input" onclick="newadress()">
                <span for="new"class="radio-button-label-2 w-form-label">새로운 배송지</span>
                </label>
                </div>
              </li>

              <li>
                <div class="order-info__head">받으시는 분</div>
                <input type="text" class="text-field w-input" maxlength="256" id="recipient"
                  name="recipient" data-name="Field" placeholder="이름" required="" value="{{usermodel.name}}">
                <input type="hidden" id="username" name="username" value="{{usermodel.name}}">
              </li>
              <li>
                <div class="order-info__head">휴대전화</div>
                
                <input type="tel" class="text-field w-input" maxlength="256"
                  name="phonenumber" data-name="frontphone" id="phonenumber" required="" placeholder="01012345678" >
                 <div class="order-info__head" onclick="phoneAuth()">휴대전화인증</div>
                  
                {% comment %} <div class="text-block-10">-</div><input type="text" class="text-field w-input" maxlength="256"
                  name="centerphone" data-name="centerphone" id="centerphone" required="">
                <div class="text-block-10">-</div><input type="text" class="text-field w-input" maxlength="256"
                  name="endphone" data-name="endphone" id="endphone" required="">
                {% endcomment %}
              </li>
              <li>
                <div class="order-info__head">이메일</div>
                <input type="text" class="text-field w-input" maxlength="256"
                 name="id" data-name="id" placeholder="id" id="id" required=""value="{{usermodel.email}}">
                  <input type="hidden" id="userid" name="userid" value="{{usermodel.email}}">
                <div class="text-block-9"></div> 
              </li>
              <li>
                <div class="order-info__head">주소</div>
                  <input type="text" class="text-field w-input" style="width: 380px;" maxlength="256" name="mail" data-name="mail"
                  placeholder="주소" id="adr" required="" value="{{usermodel.adress}}{{usermodel.adressdetail}}">
                  <input type="hidden" id="useradr" name="useradr" value="{{usermodel.adress}}{{usermodel.adressdetail}}">
              </li>
              <li>
                <div class="order-info__head">배송 메시지</div>
                <textarea id="delivery-message" maxlength="5000"
                 name="delivery-message" data-name="delivery-message" placeholder="배송 시 필요한 요구사항"
                 class="textarea w-input"></textarea>
              </li>
            </ul>
            
          </div>
        </div>

        <div class="board-right">
          <div class="inner">
            <h4>SHOPPING SUMMRY</h4>

            <ul>
              <li>
                <span>상품 가격</span> <strong>{{total_price}}</strong>원
                  <input type="hidden" id="total_price" name="total_price" value="{{total_price}}">
              </li>
              <li>
                <span>배송비</span> <strong>0</strong>원
              </li>
              <li>
                <span>총 합</span> <strong>{{total_price}}</strong>원
              </li>
            </ul>
            <span class="btn-normal" onclick="inisispay()">결제하기</span>
            <a href="{% url 'home' %}" class="btn-normal">취소하기</a>
          </div>
        </div>
        
      </div>
      
    </form>
    <div class="w-form-done">
      <div>Thank you! Your submission has been received!</div>
    </div>
    <div class="w-form-fail">
      <div>Oops! Something went wrong while submitting the form.</div>
    </div>
  </div>

</div>
{% endblock content %}