{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="contents">

  <div class="location">
    <div class="location-text">후기작성</div>
  </div>

  <div class="review--write inner">

    <div class="review--write__title review--title">
      후기작성
    </div>

    <div class="review--write__product">
      
      <div class="review--write__product__img">
        <img src="../../static/media/test.jpg" alt="test">
      </div>
      
      <div class="review--write__product__detail--wrap">
        <div class="review--write__product__detail--name review--title">
          제품명
        </div>
        <div class="review--write__product__detail--brand">
          제품 브랜드
        </div>
        <div class="review--write__product__detail--date">
          2021.02.18 배송
        </div>
      </div>      

    </div>

    
        
          
            
    <div class="review--write__startpoint review--table">
      <div class="review--write__startpoint__title review--title review--table-cell">
        별점
      </div>
      <div class="review--write__startpoint__content review--table-cell">
        <button><span><i class="fas fa-star fa-2x"></i></span></button>
        <button><span><i class="fas fa-star fa-2x"></i></span></button>
        <button><span><i class="fas fa-star fa-2x"></i></span></button>
        <button><span><i class="fas fa-star fa-2x"></i></span></button>
        <button><span><i class="fas fa-star fa-2x"></i></span></button>
      </div>
    </div>

    <div class="review--write__text review--table">
      <div class="review--write__text__title review--title review--table-cell">
        구매후기
      </div>
      <div class="review--write__text__content review--table-cell">
        <textarea placeholder="자세한 구매후기는 고객의 구매에 많은 도움이 됩니다."></textarea>
      </div>
    </div>

    <div class="review--write__input-img review--table">
      <div class="review--write__input-img__title review--title review--table-cell">
        사진첨부
      </div>
      <div class="review--write__input-img__content review--table-cell">
        <input type="file" accept="img/*" multiple class="file-input-img">
        <button class="btn-normal btn-white btn-input-img">사진첨부하기</button>
        <div id="imgPreview">
        </div>
      </div>
    </div>    
       
    <div>submit</div>
            
        
      
  </div> 

</div>
<script src="{% static 'js/inputimg.js' %}"></script>
{% endblock content %}