{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="contents">

  <div class="location">
    <div class="location-text">리뷰작성</div>
  </div>

  <div class="review--page inner">
    <div class="review--write__title review--title">
      후기작성
    </div>

    <div class="review--write__product">
      
      <div class="review--write__product__img">
        <img src="../../static/media/test.jpg" alt="test">
      </div>
      
      <div class="review--write__product__detail--wrap">
        <div class="review--write__product__detail--name review--title">
          제품명
        </div>
        <div class="review--write__product__detail--brand">
          제품 브랜드
        </div>
        <div class="review--write__product__detail--date">
          2021.02.18 배송
        </div>
      </div>      

    </div>

    <div class="startpoint--wrap">
      <div class="startpoint__title review--title">
        별점
      </div>
      <div class="startpoint__content">
        <button><span><i class="fas fa-star fa-2x"></i></span></button>
        <button><span><i class="fas fa-star fa-2x"></i></span></button>
        <button><span><i class="fas fa-star fa-2x"></i></span></button>
        <button><span><i class="fas fa-star fa-2x"></i></span></button>
        <button><span><i class="fas fa-star fa-2x"></i></span></button>
      </div>
    </div>

    <div>reviewtext</div>

    <div>inputimg</div>

    <div>oneline</div>

    <div>submit</div>

  </div> 

</div>

{% endblock content %}