{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="contents">

  <div class="location">
    <div class="location-text">후기작성</div>
  </div>

  <div class="review--write inner">

    <div class="review--write__title review--title">
      후기작성
    </div>

    <div class="review--write__product">
      
      <div class="review--write__product__img">
         <img src="{{delivery.img}}" alt="test"> 
      </div>
      
      <div class="review--write__product__detail--wrap">
        <div class="review--write__product__detail--name review--title">
          {{delivery.product_name}}
        </div>
        <div class="review--write__product__detail--brand">
           {{delivery.brandname}}
        </div>
        <div class="review--write__product__detail--date">
          {{delivery.timestamp}}
        </div>
      </div>      

    </div>

    
        
          

       {% comment %} <form action="{%url 'review_create' delivery_uid %}"> {% endcomment %}
       {% csrf_token %}

      <div class="review--write__startpoint review--table">
        <div class="review--write__startpoint__title review--title review--table-cell">
          별점
        </div>
        <div class="review--write__startpoint__content review--table-cell">
          <button type="button" id="star1" onclick="drawStar(this)" value="1">
            <span class="star-draw staroff">
              <i class="fas fa-star fa-2x"></i>
            </span>
          </button>
          <button type="button" id="star2" onclick="drawStar(this)" value="2">
            <span class="star-draw staroff">
              <i class="fas fa-star fa-2x"></i>
            </span>
          </button>
          <button type="button" id="star3" onclick="drawStar(this)" value="3">
            <span class="star-draw staroff">
              <i class="fas fa-star fa-2x"></i>
            </span>
          </button>
          <button type="button" id="star4" onclick="drawStar(this)" value="4">
            <span class="star-draw staroff">
              <i class="fas fa-star fa-2x"></i>
            </span>
          </button>
          <button type="button" id="star5" onclick="drawStar(this)" value="5">
            <span class="star-draw staroff">
              <i class="fas fa-star fa-2x"></i>
            </span>
          </button>
          <input type="hidden" id="starPoint" value="0" >

        </div>
      </div>

      <div class="review--write__text review--table">
        <div class="review--write__text__title review--title review--table-cell">
          구매후기
        </div>
        <div class="review--write__text__content review--table-cell">
          <textarea id="review_textarea"placeholder="자세한 구매후기는 고객의 구매에 많은 도움이 됩니다."></textarea>
        </div>
      </div>


      <div class="review--write__input-img review--table">
        <div class="review--write__input-img__title review--title review--table-cell">
          사진첨부
        </div>
        <div class="review--write__input-img__content review--table-cell">
          <label for="file-input-img" class="btn-normal btn-white">업로드</label>
          <input type="file" name="file[]" id="file-input-img" accept="img/*" multiple id="file-input-img">

          <input type="hidden" name="url" id="url">
          <input type="hidden" name="delivery_uid" id="delivery_uid" value={{delivery_uid}}>
          <input type="hidden" name="path" value={{expath}}>
          <input type="hidden" id="downloadURL">
          

          <!-- <button class="btn-normal btn-white btn-input-img">사진첨부하기</button> -->
          <div>
            <ul id="imgPreview">
              
            </ul>
          </div>
        </div>
      </div>

      <div>
        {% comment %} <input type="submit" class="btn-normal btn-black" onclick="ReviewUpload()" value="작성하기">   {% endcomment %}
        <button type="button"  class="btn-normal btn-black"  onclick="ReviewUpload()" value="작성하기"> 
      </div>
       {% comment %} </form>  {% endcomment %}
      

    
            
  </div> 

</div>
<script src="{% static 'js/inputimg.js' %}"></script>
<script src="{% static 'js/starpoint.js' %}"></script>



{% endblock content %}

