{% extends 'base.html' %}
{% if messg%}
<script>
    alert('{{messg}}');
    
</script>
{% endif %}


{% block content %}
    {% if msg %}
    <script>
        alert('{{msg}}');
    </script>
    {% endif %}

    <div class="contents">
        <div class="location">
            <div class="location-text">SIGN UP</div>
        </div>
        <div class="w-form">
            <form id="wf-form-Email-Form" name="wf-form-Email-Form" data-name="Email Form" class="form" action="/postsignup/" method="POST">
                {% csrf_token %}
                <div class="content-form">
                    <ul role="list" class="list-signup">
                        <li class="signup-list">
                            <div class="form-text">
                                이메일(ID)
                            </div>
                            <input type="email" 
                            class="text-field w-input" maxlength="256" 
                             name="email" data-name="Email" placeholder="emailID@email.com" id="email" required="" value={{email}}>

                           {% comment %} <a href="#" onclick="checkEmail()" class="btn-check">
                                중복 확인
                            </a> {% endcomment %}
                            <input type="submit" formaction="/signup/check_email/" class="btn-check" >
                            <input type="hidden" value={{flag}} name="emailcheck" >
                            {% comment %} <script>alert('{{flag}}')</script> {% endcomment %}
                             
                            
                            
                           
                            
                        </li>
                        <li class="signup-list">
                            <div class="form-text">
                                Password
                            </div>
                            <input type="password" class="text-field w-input" maxlength="256"
                             name="password" data-name="password" placeholder="" id="password" value={{password}} >
                        </li>
                        <li class="signup-list">
                            <div class="form-text">
                                PasswordRe
                            </div>
                            <input type="password" class="text-field w-input" maxlength="256" 
                            name="passwordre" data-name="passwordre" placeholder="" id="passwordre" value={{passwordre}}
                            >
                            
                        </li>
                        <li class="signup-list">
                            <div class="form-text">
                                이메일 수신 여부
                            </div>
                            <label class="w-checkbox checkbox-field">
                                <input
                                    type="checkbox" id="checkbox" name="checkbox" data-name="Checkbox" value={{checkbox}}
                                    class="w-checkbox-input checkbox"><span class="w-form-label">동의</span></label>
                        </li>
                        <li class="signup-list">
                            <div class="form-text">
                                이름
                            </div>
                            <input type="text" class="text-field w-input" maxlength="256" 
                                name="name" data-name="Name" placeholder="" id="name" >
                        </li>
                        <li class="signup-list">
                            <div class="form-text">
                                성별
                            </div>
                            <label class="male-radio w-radio">
                              <input type="radio" class="w-form-formradioinput radio-button w-radio-input"
                                id="male" name="gender" value="male" value={{male}}
                              >
                              <span for="male" class="radio-button-label w-form-label">
                                남자
                              </span>
                            </label>
                            <label class="female-radio w-radio">
                              <input type="radio" data-name="female" id="female" class="w-form-formradioinput radio-button w-radio-input"
                              name="gender" value="femail" value={{female}}
                              >
                              <span for="female" class="radio-button-label w-form-label">
                              여자
                              </span>
                            </label>
                        </li>
                        <li class="signup-list">
                            <div class="form-text">Address</div>
                            <!-- <input type="text" class="text-field w-input"
                                maxlength="256" name="zipcode" data-name="Zipcode" placeholder="" id="zipcode">
                            <a href="#" class="btn-check ">check</a> -->
                            <input type="text" id="sample6_postcode" placeholder="우편번호" name="zipcode" class="text-field w-input" value={{zipcode}}>
                            <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기" class="btn-check"><br>
                        </li>

                        <li class="signup-address">
                            <!-- <input type="text" maxlength="256" name="address1" data-name="address1" placeholder=""
                                class="text-field w-input"> -->
                            <!-- <div class="text-block-4">기본 주소</div> -->
                            <input type="text" id="sample6_address" placeholder="주소" name="adress" class="text-field w-input" style="width: 300px;" value={{adress}}><br>
                        </li>
                        <li class="signup-address">
                            <!-- <input type="text" maxlength="256" name="address2"
                                data-name="address2" placeholder="" class="text-field w-input"> -->
                            <!-- <div class="text-block-5">상세 주소</div> -->
                            <input type="text" id="sample6_detailAddress" placeholder="상세주소" name="adressdetail" class="text-field w-input" value={{adressdetail}}>
                            <input type="text" id="sample6_extraAddress" placeholder="참고항목" name="adresscf" class="text-field w-input" value={{adresscf}}>
                        </li>
                    </ul>
                </div>
                <div class="div-submit">
                    <input type="submit" value="회원 가입" data-wait="Please wait..."
                        class="btn-normal btn-buynow">
                    <a href="{% url 'home' %}" class="btn-normal btn-cancle">취소</a>
                </div>
            </form>
            <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
            </div>
        </div>
    </div>


    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function sample6_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
    
                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수
    
                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }
    
                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if(data.userSelectedType === 'R'){
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if(data.buildingName !== '' && data.apartment === 'Y'){
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if(extraAddr !== ''){
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        // 조합된 참고항목을 해당 필드에 넣는다.
                        document.getElementById("sample6_extraAddress").value = extraAddr;
                    
                    } else {
                        document.getElementById("sample6_extraAddress").value = '';
                    }
    
                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('sample6_postcode').value = data.zonecode;
                    document.getElementById("sample6_address").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("sample6_detailAddress").focus();
                }
            }).open();
        }
    </script>
</body>
</html>
{% endblock %}