{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="contents">
  <div class="location">
    <div class="location-text">주문정보</div>
  </div>

  <div class="orderinfo inner">
    <table class="table">
      <thead>
        <tr>
          <th>주문일자</th>
          <th>이미지</th>
          <th>상품정보</th>
          <th>수량</th>
          <th>구매금액</th>
          <th>처리현황</th>
          <th>취소 / 교환 / 반품</th>
          <th>후기</th>
        </tr>
      </thead>

      <tbody>
       {% comment %} {% for delivery in deliverylist %}
        <tr>
          <td>{{delivery.timestamp}}</td>
          <td><img src="{{delivery.img}}" alt="test"></td>
          <td>{{delivery.product_name}}</td>
          <td>{{delivery.option}}</td>
          <td>{{delivery.price}}</td>
          <td>{{delivery.deliverystate}}</td>
          <td></td>
        </tr>
        {% endfor %} {% endcomment %}
      </tbody>
  
    </table>

    <div class="inner">
      <nav>
        <ul id="paging" class="pagination">
          
        </ul>
      </nav>
    </div>


  </div>


</div>
<script src="{% static 'js/myorderinfo.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    
    let deliveryData = [
      {% for delivery,id,time in comb_lis %}  
        
        { 
          uid: "{{id}}",
          timestamp: "{{time}}",
          image: "{{delivery.img}}",
          name:  "{{delivery.product_name}}",
          option: "{{delivery.option}}",
          price: "{{delivery.price}}",
          state: "{{delivery.deliverystate}}"
        },

      {% endfor %}
    ]

    pagingInit(deliveryData);
</script>


{% endblock content %}