{% if messg%}
<script>
    alert('{{messg}}');
</script>
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h2>관리자 사이트</h2>

  <form action="/create_admin/" method="POST">
      {% csrf_token %}
      <table>

        <tr>
          <th colspan="2">상품 등록</th>
        </tr>

        <tr>
          <td>브랜드 넘버:</td>
          <td><input type="number" name="adminBrandNumber" required></td>
        </tr>
        <tr>
          <td>브랜드 이름</td>
          <td>
            <select name="adminBrandName" id="adminBrandName">
                <option value="ThumbStruck">ThumbStruck</option>
                <option value="PTOC">PTOC</option>
            </select>
          </td>
         
        </tr>
        <tr>
          <td>카테고리</td>
          <td>
            <select name="adminProductCategory" id="adminProductCategory">
             
                <option value="상의">상의</option>
                <option value="하의">하의</option>
           
            </select>
          </td>
        </tr>

        <tr>
          <td>상품 이름</td>
          <td><input type="text" name="adminProductName"></td>
        </tr>
        <tr>
          <td>상품 가격</td>
          <td><input type="number" name="adminProductPrice"></td>
        </tr>
        <tr>
          <td>대표 이미지 주소</td>
          <td><input type="text" name="adminProuctMaimImage"></td>
        </tr>
        <tr>
          <td>상세 설명 이미지</td>
          <input type="hidden" name="cnt" id="cnt">
          <td>
            <div onclick="inputAppend(this.form)">추가하기</div>
            <div id="adminAppend">

            </div>
          </td>
        </tr>

        <tr>
          <td>상세 설명</td>
          <td>
            <textarea name="adminDetailText" id="adminDetailText" cols="30" rows="10"></textarea>
          </td>
        </tr>
      </table>


      <input type="submit" value="등록">

  </form>



  <script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
    <script>
        var firebaseConfig = {
        apiKey: 'AIzaSyAFN2apSBQwHIiGioEKyyQORxceIR22VMs',
        authDomain: 'healthstore-de3c3.firebaseapp.com',
        databaseURL: 'https://healthstore-de3c3-default-rtdb.firebaseio.com',
        storageBucket: 'healthstore-de3c3.appspot.com',
        messagingSenderId: "838060678239",
        };
       firebase.initializeApp(firebaseConfig);

       // Get a reference to the storage service, which is used to create references in your storage bucket
       function uploadimage(){
        var storage = firebase.storage();
        var file =document.getElementById("file").files[0];
        var storageRef=storage.ref();
        var thisref=storageRef.child(file.name).put(file);

        thisref.on('state_changed',function(snapshot){
            console.log("file uploaded successfully");
        },
        function(error){

        },
        function(){
            var downloadURL=thisref.snapshot.downloadURL;
            console.log("got url");
          
            document.getElementById("url").value=downloadURL;
            alert("file uploaded successfully");

        });


       }
       //상세 이미지 생성, 삭제
       let cnt = 0;
       function inputAppend(data) {
        cnt++;

        const append = document.getElementById("adminAppend");

        const div = document.createElement('div');
        div.setAttribute("id", `adminProuctDetailDiv${cnt}`);
        append.appendChild(div);
        
        const input = document.createElement('input');
        input.setAttribute("type", "text");
        input.setAttribute("name", `adminProuctDetailImage${cnt}`);

        const span = document.createElement('span');
        span.setAttribute("onclick", `deleteAppend(${cnt})`);
        const text = document.createTextNode('[제거하기]');


        div.appendChild(input);
        div.appendChild(span);
        span.appendChild(text);
        

        document.getElementById('cnt').value=cnt;

       }

       function deleteAppend(event) {
         const div = document.getElementById(`adminProuctDetailDiv${cnt}`);
         const admin = document.getElementById(`adminAppend`);
         const input = document.getElementById(`adminProuctDetailImage${cnt}`);

         div.remove();
         cnt--;
         document.getElementById('cnt').value=cnt;
       }
       
    </script>
</body>
</html>